CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="contest2026_273_board"
CONFIG_ARCH_BOARD_CONTEST2026_273_BOARD=y
CONFIG_ARCH_CHIP="stm32n6"
CONFIG_ARCH_CHIP_STM32N647=y
CONFIG_ARCH_CHIP_STM32N6=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_BOARD_LOOPSPERMSEC=1000
CONFIG_BUILTIN=y
CONFIG_DEBUG_ASSERTIONS=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEFAULT_TASK_STACKSIZE=4096
CONFIG_EXAMPLES_HELLO=y
CONFIG_FLASH_SIZE=2097152
CONFIG_FLASH_START=0x08000000
CONFIG_FS_FAT=y
CONFIG_FS_LITTLEFS=n
CONFIG_FS_PROCFS=y
CONFIG_IDLETHREAD_STACKSIZE=4096
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INTELHEX_BINARY=y
CONFIG_MATH_GEMMLOWP=n
CONFIG_MATH_KISSFFT=n
CONFIG_MATH_RUY=n
CONFIG_MTD=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAM_SIZE=524288
CONFIG_RAM_START=0x20000000
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_HPWORKPRIORITY=192
CONFIG_STACK_COLORATION=y
CONFIG_START_DAY=26
CONFIG_START_MONTH=8
CONFIG_START_YEAR=2026
CONFIG_SYSTEM_FLATBUFFERS=n
CONFIG_SYSTEM_NSH=y
CONFIG_USEC_PER_TICK=1000
# CONFIG_EXAMPLES_GPIO is not set
CONFIG_ARCH_ARMV8M=y
CONFIG_ARCH_CORTEXM55=y
CONFIG_ARCH_TOOLCHAIN_GNU=y
CONFIG_ARCH_TOOLCHAIN_GNU_EABI=y
CONFIG_ARM_TOOLCHAIN_GNU_EABI=y
CONFIG_ARCH_ARM_M=y
CONFIG_BUILD_FLAT=y
CONFIG_BUILTIN_TOOLCHAIN=y
CONFIG_ARCH_HAVE_DEBUG=y
CONFIG_ARCH_CPUINFO_FREQ_KHZ=600000
CONFIG_PERCPU_ARRAY=y
CONFIG_UP=y
CONFIG_ARCH_HAVE_IRQTRIGGER=y
CONFIG_NCPUS=1
CONFIG_NFILE_DESCRIPTORS=16
CONFIG_NFILE_STREAMS=8
CONFIG_NFILE_DESCRIPTORS_PER_BLOCK=8
CONFIG_STREAM_OUT_BUFFER_SIZE=64
CONFIG_STREAM_HEXDUMP_BUFFER_SIZE=32
CONFIG_STREAM_BASE64_BUFFER_SIZE=34
CONFIG_LIBC_REGEX=y
CONFIG_LIBC_EXECFUNCS=y
CONFIG_LIBC_MAX_EXITFUNS=4
CONFIG_LIBC_MAX_TMPFILE=32
CONFIG_LIBC_HOMEDIR="/home"
CONFIG_LIBC_FTOK_VFS_PATH="/tmp"
CONFIG_LIBC_ATOMIC_TOOLCHAIN=y
CONFIG_LIBC_LOCALE=y
CONFIG_LIBC_TZDIR="/etc/zoneinfo"
CONFIG_LIBC_TZ_MAX_TIMES=370
CONFIG_LIBC_TZ_MAX_TYPES=20
CONFIG_SCHED_HPWORKSTACKSIZE=2048
CONFIG_SCHED_HPWORKSTACKSECTION=""
CONFIG_SCHED_HPWORKTHREADIDLESTACKSECTION=""
CONFIG_SCHED_STACK_RECORD=0
CONFIG_SCHED_PROFILE_TICKSPERSEC=100
CONFIG_SCHED_CPULOAD_TIMECONSTANT=2
CONFIG_MM_DEFAULT_ALIGNMENT=8
CONFIG_MM_NODE_GUARDSIZE=0
CONFIG_MM_SMALL=y
CONFIG_MM_REGIONS=1
CONFIG_MM_DEFAULT_MANAGER=y
CONFIG_MAX_TASKS=16
CONFIG_MAX_TASK_ARGS=8
CONFIG_PID_INITIAL_COUNT=32
CONFIG_PREALLOC_MQ_MSGS=8
CONFIG_PREALLOC_MQ_IRQ_MSGS=4
CONFIG_MQ_MAXMSGSIZE=64
CONFIG_INIT_STACKSIZE=2048
CONFIG_INIT_ENTRYNAME="nsh_main"
CONFIG_TASK_NAME_SIZE=16
CONFIG_LINE_MAX=64
CONFIG_POSIX_SPAWN_DEFAULT_STACKSIZE=2048
CONFIG_POSIX_TIMERS_MAX=8
CONFIG_SIG_ALLOC_ACTIONS=4
CONFIG_SIG_DEFAULT_STACKSIZE=2048
CONFIG_SIG_PREALLOC_IRQ_ACTIONS=4
CONFIG_PTHREAD_STACK_DEFAULT=2048
CONFIG_PTHREAD_GUARDSIZE_DEFAULT=0
CONFIG_PTHREAD_STACK_MIN=256
CONFIG_TLS_NCLEANUP=2
CONFIG_FS_NEPOLL_DESCRIPTORS=8
CONFIG_FS_LOCK_BUCKET_SIZE=8
CONFIG_FS_MQUEUE_VFS_PATH="/var/mqueue"
CONFIG_FS_AIO_LISTIO_MAX=4
CONFIG_NAME_MAX=32
CONFIG_PATH_MAX=256
CONFIG_IRQ_WORK_STACKSIZE=2048
CONFIG_IRQ_NWORKS=1
CONFIG_IRQ_WORK_SECTION=""
CONFIG_FTL_USLEEP=100
CONFIG_BINFMT_DISABLE=n
CONFIG_COREDUMP=y
CONFIG_CXX_EXCEPTION=n
CONFIG_CXX_RTTI=n
CONFIG_HAVE_CXX=n
CONFIG_LIBCXXTOOLCHAIN=n
CONFIG_SERIAL=y
CONFIG_STANDARD_SERIAL=y
CONFIG_UART0_SERIAL_CONSOLE=y
CONFIG_STM32N6_USART1=y
CONFIG_STM32N6_USART1_RXBUFSIZE=256
CONFIG_STM32N6_USART1_TXBUFSIZE=256
CONFIG_STM32N6_USART1_BAUD=115200
CONFIG_STM32N6_USART1_BITS=8
CONFIG_STM32N6_USART1_PARITY=0
CONFIG_STM32N6_USART1_2STOP=0
CONFIG_DEV_GPIO=y
CONFIG_DEV_GPIO_NPOLLWAITERS=2
CONFIG_DEV_OPTEE_NONE=y
CONFIG_SYSTEM_NSH_CPLUSPLUS=n
CONFIG_SYSTEM_NSH_PRIORITY=100
CONFIG_SYSTEM_NSH_STACKSIZE=2048
CONFIG_SYSTEM_NSH_PROGNAME="nsh"
CONFIG_NSH_LIBRARY=y
CONFIG_NSH_CONSOLE=y
CONFIG_NSH_MAXARGUMENTS=16
CONFIG_NSH_PROC_MOUNTPOINT="/proc"
CONFIG_NSH_PROMPT_MAX=32
CONFIG_NSH_PROMPT_STRING="nsh> "
CONFIG_NSH_PROMPT_SUFFIX=" "
CONFIG_NSH_PROMPT_ENV="PS1"
CONFIG_NSH_DISABLE_CAT=n
CONFIG_NSH_DISABLE_CD=n
CONFIG_NSH_DISABLE_CP=n
CONFIG_NSH_DISABLE_CMP=n
CONFIG_NSH_DISABLE_DD=n
CONFIG_NSH_DISABLE_DIRNAME=n
CONFIG_NSH_DISABLE_ECHO=n
CONFIG_NSH_DISABLE_ENV=n
CONFIG_NSH_DISABLE_EXEC=n
CONFIG_NSH_DISABLE_EXIT=n
CONFIG_NSH_DISABLE_EXPORT=n
CONFIG_NSH_DISABLE_HELP=n
CONFIG_NSH_DISABLE_HEXDUMP=n
CONFIG_NSH_DISABLE_LS=n
CONFIG_NSH_DISABLE_MB=n
CONFIG_NSH_DISABLE_MKDIR=n
CONFIG_NSH_DISABLE_MKFIFO=n
CONFIG_NSH_DISABLE_MOUNT=n
CONFIG_NSH_DISABLE_MV=n
CONFIG_NSH_DISABLE_PRINTF=n
CONFIG_NSH_DISABLE_PS=n
CONFIG_NSH_DISABLE_PWD=n
CONFIG_NSH_DISABLE_RM=n
CONFIG_NSH_DISABLE_RMDIR=n
CONFIG_NSH_DISABLE_SET=n
CONFIG_NSH_DISABLE_SLEEP=n
CONFIG_NSH_DISABLE_SOURCE=n
CONFIG_NSH_DISABLE_TEST=n
CONFIG_NSH_DISABLE_TIME=n
CONFIG_NSH_DISABLE_UNSET=n
CONFIG_NSH_DISABLE_UNAME=n
CONFIG_NSH_DISABLE_USLEEP=n
CONFIG_NSH_DISABLE_WHICH=n
CONFIG_NSH_ARGCAT=y
CONFIG_EXAMPLES_HELLO_PROGNAME="hello"
CONFIG_EXAMPLES_HELLO_PRIORITY=100
CONFIG_EXAMPLES_HELLO_STACKSIZE=2048
CONFIG_SYSTEM_READLINE=y
CONFIG_SYSTEM_READLINE_STACKSIZE=2048
CONFIG_SYSTEM_READLINE_PRIORITY=100
CONFIG_SYSLOG=y
CONFIG_SYSLOG_INTBUFFER=y
CONFIG_SYSLOG_MAX_CHANNELS=1
CONFIG_SYSLOG_DEFAULT_MASK=0xff
CONFIG_SYSLOG_CHAR_CONSOLE=y
CONFIG_SYSLOG_RATELIMIT_INTERVAL=0
CONFIG_SYSLOG_RATELIMIT_BURST=0
