#
# STM32N6 Configuration Options
#

if ARCH_CHIP_STM32N6

comment "STM32N6 Configuration Options"

choice
	prompt "STM32N6 Chip Selection"
	default ARCH_CHIP_STM32N647
	depends on ARCH_CHIP_STM32N6

config ARCH_CHIP_STM32N647
	bool "STM32N647"
	---help---
		STM32N647 Cortex-M55 @ 600MHz, 512KB SRAM, 2MB Flash

endchoice

config STM32N6_HSE
	int "HSE Frequency (Hz)"
	default 24000000
	---help---
		Frequency of the external oscillator in Hz.

config STM32N6_HCLK
	int "HCLK Frequency (Hz)"
	default 600000000
	---help---
		Frequency of the AHB clock in Hz.

comment "UART Configuration"

config STM32N6_USART1
	bool "USART1 support"
	default y
	depends on ARCH_CHIP_STM32N6
	---help---
		Enable USART1 driver.

if STM32N6_USART1

config STM32N6_USART1_SERIAL_CONSOLE
	bool "USART1 console"
	default y
	depends on STM32N6_USART1
	---help---
		Use USART1 as the serial console.

config STM32N6_USART1_RXBUFSIZE
	int "USART1 RX buffer size"
	default 256
	depends on STM32N6_USART1

config STM32N6_USART1_TXBUFSIZE
	int "USART1 TX buffer size"
	default 256
	depends on STM32N6_USART1

config STM32N6_USART1_BAUD
	int "USART1 baud rate"
	default 115200
	depends on STM32N6_USART1

config STM32N6_USART1_BITS
	int "USART1 data bits"
	default 8
	depends on STM32N6_USART1

config STM32N6_USART1_PARITY
	int "USART1 parity (0=none, 1=odd, 2=even)"
	default 0
	depends on STM32N6_USART1

config STM32N6_USART1_STOPBITS
	int "USART1 stop bits"
	default 1
	depends on STM32N6_USART1

endif # STM32N6_USART1

comment "GPIO Configuration"

config STM32N6_GPIO
	bool "GPIO support"
	default y
	depends on ARCH_CHIP_STM32N6
	---help---
		Enable GPIO driver support for STM32N6.

if STM32N6_GPIO

config STM32N6_GPIO_IRQ
	bool "GPIO interrupt support"
	default y
	depends on STM32N6_GPIO
	---help---
		Enable GPIO interrupt (EXTI) support.

config STM32N6_GPIOA
	bool "GPIO Port A"
	default y
	depends on STM32N6_GPIO
	---help---
		Enable GPIO Port A.

config STM32N6_GPIOB
	bool "GPIO Port B"
	default y
	depends on STM32N6_GPIO
	---help---
		Enable GPIO Port B.

config STM32N6_GPIOC
	bool "GPIO Port C"
	default y
	depends on STM32N6_GPIO
	---help---
		Enable GPIO Port C.

config STM32N6_GPIOD
	bool "GPIO Port D"
	default n
	depends on STM32N6_GPIO
	---help---
		Enable GPIO Port D.

config STM32N6_GPIOE
	bool "GPIO Port E"
	default n
	depends on STM32N6_GPIO
	---help---
		Enable GPIO Port E.

config STM32N6_GPIOF
	bool "GPIO Port F"
	default n
	depends on STM32N6_GPIO
	---help---
		Enable GPIO Port F.

config STM32N6_GPIOG
	bool "GPIO Port G"
	default n
	depends on STM32N6_GPIO
	---help---
		Enable GPIO Port G.

config STM32N6_GPIOH
	bool "GPIO Port H"
	default n
	depends on STM32N6_GPIO
	---help---
		Enable GPIO Port H.

endif # STM32N6_GPIO

comment "I2C Configuration"

config STM32N6_I2C1
	bool "I2C1 support"
	default n
	depends on ARCH_CHIP_STM32N6
	select I2C_DRIVER
	---help---
		Enable I2C1 driver. I2C1 uses PB6 (SCL) and PB7 (SDA) by default.

config STM32N6_I2C2
	bool "I2C2 support"
	default n
	depends on ARCH_CHIP_STM32N6
	select I2C_DRIVER
	---help---
		Enable I2C2 driver. I2C2 uses PB10 (SCL) and PB11 (SDA) by default.

config STM32N6_I2C3
	bool "I2C3 support"
	default n
	depends on ARCH_CHIP_STM32N6
	select I2C_DRIVER
	---help---
		Enable I2C3 driver. I2C3 uses PA7 (SCL) and PB5 (SDA) by default.

config STM32N6_I2C4
	bool "I2C4 support (via I3C1)"
	default n
	depends on ARCH_CHIP_STM32N6
	select I2C_DRIVER
	---help---
		Enable I2C4 driver using I3C1 hardware in I2C-compatible mode.
		Note: STM32N647 has I3C1 at this address, not a dedicated I2C4.

comment "SPI Configuration"

config STM32N6_SPI1
	bool "SPI1 support"
	default n
	depends on ARCH_CHIP_STM32N6
	---help---
		Enable SPI1 driver.

config STM32N6_SPI2
	bool "SPI2 support"
	default n
	depends on ARCH_CHIP_STM32N6
	---help---
		Enable SPI2 driver.

config STM32N6_SPI3
	bool "SPI3 support"
	default n
	depends on ARCH_CHIP_STM32N6
	---help---
		Enable SPI3 driver.

config STM32N6_SPI_DMA
	bool "SPI DMA support"
	default n
	depends on (STM32N6_SPI1 || STM32N6_SPI2 || STM32N6_SPI3)
	---help---
		Enable DMA support for SPI transfers.

config STM32N6_SPI_INTERRUPTS
	bool "SPI interrupt support"
	default n
	depends on (STM32N6_SPI1 || STM32N6_SPI2 || STM32N6_SPI3)
	---help---
		Enable interrupt-driven SPI transfers.
		Note: Currently not implemented, use polling mode.

comment "LCD/LTDC Configuration"

config STM32N6_LTDC
	bool "LTDC support"
	default n
	depends on ARCH_CHIP_STM32N6
	select LCD
	select LCD_FRAMEBUFFER
	select STM32N6_GPIOA
	select STM32N6_GPIOB
	select STM32N6_GPIOF
	select STM32N6_GPIOG
	select STM32N6_GPIOH
	---help---
		Enable LTDC (LCD-TFT Display Controller) driver.
		For STM32N647-EVB with 800x480 RGB LCD panel.

if STM32N6_LTDC

config STM32N6_LTDC_WIDTH
	int "LCD width (pixels)"
	default 800
	depends on STM32N6_LTDC
	---help---
		LCD display width in pixels.

config STM32N6_LTDC_HEIGHT
	int "LCD height (pixels)"
	default 480
	depends on STM32N6_LTDC
	---help---
		LCD display height in pixels.

endif # STM32N6_LTDC

endif # ARCH_CHIP_STM32N6
