#
# STM32N647-EVB Board - Contest 2026 Team 273 bangbanglangbangbang
# New hardware platform adaptation: STM32N647 on Cortex-M55
#

if ARCH_BOARD_CONTEST2026_273_BOARD

config ARCH_BOARD_CONTEST2026_273_BOARD_TAG
	string "Board tag"
	default "stm32n647-evb"

endif
